.popup__btn-save {
  width: 100%;
  background-color: #000000;
  border-radius: 2px;
  border: none;
  color: #FFFFFF;
  padding: 14px;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  transition: .2s background-color ease-in-out;
}

.popup__btn-save:not([disabled]):hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 768px) {
  .popup__btn-save {
    font-size: 18px;
    line-height: 22px;
  }
}
