.header__logo {
  display: block;
  width: 104px;
  height: 24px;
  color: inherit;
  background-image: url("../../../image/logo-header.svg");
  background-size: 100%;
  transition: .2s opacity ease-in-out;
}

.header__logo:hover {
  opacity: .2;
}

@media (min-width: 768px) {
  .header__logo {
    width: 142px;
    height: 33px;
  }
}
