.form-registr__btn-save {
	width: 100%;
	display: block;
	margin-bottom: 20px;
	padding: 14px;
	color: #000000;
	background-color: #FFFFFF;
	border-radius: 2px;
	border: none;
	font-family: inherit;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
  transition: .2s all ease-in-out;
}

.form-registr__btn-save:hover, .form-registr__btn-save:focus {
  background-color: rgba(255, 255, 255, 0.85);
}

@media (min-width: 768px) {
	.form-registr__btn-save {
	  margin-bottom: 15px;
	}
}