.profile__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
  justify-content: center;
}

@media (min-width: 1024px) {
  .profile__wrapper {
    justify-content: flex-start;
    margin: 0 0 16px;
  }
}
